<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CryptoCoin</title>

    <link rel="shortcut icon" href="/ico/favicon.ico">
    <!--boostrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- custom css-->
    <link rel="stylesheet" href="/css/main.css">
    <!-- fount asome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- css animated-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Crypto Coin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/">Principal <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/blockchain">BlockChain</a>
                    <a class="nav-item nav-link" href="/transaction">Transacciones</a>
                    <a class="nav-item nav-link" href="/send">Envio</a>
                    <a class="nav-item nav-link" href="/wallet">wallet</a>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Opciones
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item nav-item nav-link" href="/peers">Peers</a>
                                <a class="dropdown-item nav-item nav-link" href="/validateBlock">Validador</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item nav-item nav-link" href="/mine">Minar</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {{{ body }}}
    {{!-- <footer class="container">
        <div class="col align-self-center">
            <ul class="list-group list-group-horizontal list-group-flush">
                <li class="list-group-item">
                    <a href="/#index">About</a>&nbsp;&nbsp;
                </li>
                <li class="list-group-item">
                    <a href="https://github.com/hellsant/miner"><i class="fab fa-github fa-2x"></i></a>&nbsp;&nbsp;
                </li>
                <li class="list-group-item">
                    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                </li>
            </ul>
    </footer> --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/js/qrcode.min.js"></script>
    <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("canvas"), {
            width: 256,
            height: 256,
            mode: 'alphanumeric',
            correctLevel: QRCode.CorrectLevel.H,
            useSVG: true
        });
        function makeCode() {
            qrcode.makeCode(document.getElementById("peer").value);
        }
        makeCode();
    </script>
</body>

</html>