<div class="container-fliud font-small indigo" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
            <i class="fab fa-btc fa-10x animated bounceIn"></i>
        </div>
        <div class="col-sm-6">
            <h3>Bitcoin</h3>
            <p>Bitcoin usa tecnología peer-to-peer o entre pares para operar sin una autoridad central o bancos; la
                gestión de las transacciones y la emisión de bitcoins es llevada a cabo de forma colectiva por la red.
                Bitcoin es de código abierto; su diseño es público, nadie es dueño o controla Bitcoin y todo el mundo
                puede participar. Por medio de sus muchas propiedades únicas, Bitcoin permite usos interesantes no
                contemplados por ningún sistema de pagos anterior.</p>
        </div>
    </div>
</div>