<div class="container">
    <div class="row align-items-center">
        <div class=" font-small indigo" id="about">
            <div class="row text-white p-2 text-center">
                <div class="col-sm-2 p-2">
                    <i class="fab fa-btc fa-10x animated bounceIn"></i>
                </div>
                <div class="col-sm-10">
                    <h3>Bitcoin</h3>
                    <p>Una criptomoneda usa tecnología peer-to-peer o entre pares para operar sin una autoridad central o bancos;
                        la
                        gestión de las transacciones y la emisión es llevada a cabo de forma colectiva por
                        la
                        red.
                        Las criptomonedas son de código abierto; su diseño es público, nadie es dueño o controla y todo el
                        mundo
                        puede participar.</p>
                </div>
            </div>
        </div>
    </div>
</div>