<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.html%>
    <title>wallet</title>
</head>

<body>
    <% include partials/navigation.html%>
    <div class="container p-5">

        <form class="form-group">

            <div class="form-group row">
                <label for="staticEmail" class="form-label">peer</label>
                <div class="">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="52222">
                </div>
            </div>


            <div class="form-group row">
                <label for="staticEmail" class="form-label">peer</label>
                <div class="">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="52222">
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="form-label">peer</label>
                <div class="">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="52222">
                </div>
            </div>

        </form>
    </div>
    <% include partials/section.html %>
    <% include partials/scripts.html %>
</body>

</html>