<div class="container p-5">
    <div class="col align-self-center">
        <form action="/peers" method="post">
            <div class="card animated flipInY">
                <div class="card-header bg-dark text-white text-center">
                    <h3>Agregar Peers</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="idPeer">Peer id:</label>
                        <input type="text" name="idPeer" class="form-control" placeholder='{{port}}' disabled>
                    </div>
                    <div class="form-group">
                        <label for="server">Server:</label>
                        <input type="text" name="server" class="form-control" placeholder="url del server" required>
                    </div>
                    <div class="form-group">
                        <label for="peerId">Conectar con el peer:</label>
                        <input type="number" name="peerId" class="form-control" placeholder="Número de peer" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Conectar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>