<div class="container p-5">
    <div class="p-2">
        <div class="card animated flipInY">
            {{#if tx }}
            {{#each tx}}
            <div class="card-header bg-dark text-white text-center">
                <h5 class="card-title">Pending Transactions<small class="text-muted"></small></h5>
                <div class="text-truncate">
                    <small>ID {{ id }}</small>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {{#each outputs}}
                <li class="list-group-item">
                    <span class="">address</span>
                    <br>
                    <div class="text-truncate" style="color:red;">
                        <small>{{ address }}</small>
                    </div>
                    <span class="">amount</span>
                    <br>
                    <div class="text-truncate" style="color:blue;">
                        <small>{{ amount }}</small>
                    </div>
                </li>
                {{/each}}
            </ul>
            {{/each}}
            {{else}}
            <div class="card-header bg-dark text-white text-center">
                <h5 class="card-title">No existe transacciones pendientes<small class="text-muted"></small></h5>
            </div>
            {{/if}}
        </div>
    </div>

</div>