<div class="container p-5">
    <div class="card animated flipInY">
        <div class="card-header bg-dark text-white text-center">
            <h5 class="card-title">Wallet<small class="text-muted"></small></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="">address</span>
                <br>
                <div class="text-truncate" style="color:red;">
                    <small>{{ tx.input.address }}</small>
                </div>
                <span class="">amount</span>
                <br>
                <div class="text-truncate" style="color:blue;">
                    <small>{{ tx.input.amount }}</small>
                </div>
            </li>
        </ul>
    </div>
</div>