<div class="container p-5">
    <div class="col align-self-center">
        <div class="card animated flipInY">
            <div class="card-header bg-dark text-white text-center">
                <h5 class="card-title">Wallet<small class="text-muted"></small></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="">Wallet Id</span>
                    <br>
                    <div class="text-truncate" style="color:red;">
                        <small>{{ publicKey }}</small>
                    </div>
                </li>
                <li class="list-group-item">
                   <span class="">Llave Privada</span>
                    <br>
                    <div class="text-truncate" style="color:cadetblue;">
                        <small>{{ PrivateKey}}</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="">Saldo</span>
                    <br>
                    <div class="text-truncate" style="color:blue;">
                        <small>{{ balance }}</small>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>